In [12]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
plt.style.use('dark_background')
from sklearn.preprocessing import StandardScaler
import pandas as pd
import seaborn as sns

ImportError: No module named 'seaborn'

In [2]:
import glob, os, sys

In [3]:
%cd /host/workspace/RecSys2019_DeepLearning_Evaluation/

/host/workspace/RecSys2019_DeepLearning_Evaluation

# Math Assignments

In [5]:
assignments = pd.read_csv('../kpoints/data/assignment_01.csv')

In [8]:
assignments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1358052 entries, 0 to 1358051
Data columns (total 5 columns):
_id          1358052 non-null object
subject      1358051 non-null object
student      1358052 non-null object
submitted    1358052 non-null int64
type         1358052 non-null object
dtypes: int64(1), object(4)
memory usage: 51.8+ MB

In [10]:
assignments['subject'].describe()

count     1358051
unique          9
top          Math
freq       791664
Name: subject, dtype: object

In [11]:
assignments['subject'].unique()

array(['Math', 'English', 'Science', 'Chinese', 'Physics', 'Social',
       'PoliticsHistory', 'GeographyBiology', 'PhysicsChemistry', nan],
      dtype=object)

In [12]:
math = assignments.loc[assignments['subject'] == 'Math']['_id']

In [15]:
assignments = None

# solutions

In [20]:
path = '../kpoints/data'                     # use your path
all_files = glob.glob(os.path.join(path, "answer_sheet*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
solution   = pd.concat(df_from_each_file, ignore_index=True)

In [21]:
df_from_each_file = None
solution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23426513 entries, 0 to 23426512
Data columns (total 6 columns):
id            object
student       object
problem       object
assignment    object
timestamp     int64
answer        int64
dtypes: int64(2), object(4)
memory usage: 1.0+ GB

In [24]:
solution = pd.merge(solution, math.to_frame(), left_on='assignment', right_on='_id', how='inner')

In [28]:
solution.drop(['_id'], axis=1, inplace=True)

In [29]:
solution.to_csv(os.path.join(path, 'math_answer_sheet.csv'), index=False)

In [30]:
solution['answer'].describe()

count    1.141485e+07
mean     5.388418e-01
std      8.211789e-01
min     -1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: answer, dtype: float64

In [34]:
len(solution.loc[solution['answer'] == -1]), len(solution.loc[solution['answer'] == 0])

(2430469, 403114)

In [5]:
students = solution.student.unique()
problems = solution.problem.unique()

In [7]:
len(students), len(problems), len(solution)

(16016, 266820, 11414850)

In [4]:
solution = pd.read_csv('../kpoints/data/math_answer_sheet.csv')

In [8]:
11414850 / (16016 * 266820)

0.0026711468765100426

In [23]:
solution.groupby('student')['id'].count().mean()

712.7154095904095

In [16]:
solution.groupby('problem')['id'].count().mean()

42.78108837418485

In [24]:
prob_count = solution.groupby('problem')['id'].count().values

In [30]:
np.sum(prob_count==1)

192789

In [31]:
np.sum(prob_count)

11414850

In [32]:
np.sum(prob_count>=10)

62955

In [33]:
np.sum(prob_count>=20)

59068

In [34]:
solution = solution.groupby('problem').filter(lambda x: len(x) >= 20)

In [36]:
len(solution)

11119183

In [37]:
students = solution.student.unique()
problems = solution.problem.unique()
len(students), len(problems)

(15879, 59068)

In [38]:
student_count = solution.groupby('student')['id'].count().values

In [40]:
np.sum(student_count<10)

13

In [41]:
solution = solution.groupby('student').filter(lambda x: len(x) >= 20)

In [42]:
students = solution.student.unique()
problems = solution.problem.unique()
len(students), len(problems), len(solution)

(14351, 59068, 11090636)

In [45]:
solution.to_csv('../kpoints/data/math_answer_sheet_filter20.csv', index=False)

In [46]:
# only keep the last one if student does problem multiple times
pd.__version__

'0.23.4'

In [47]:
solution.sort_values(by='timestamp', inplace=True)
grouped_sorted = solution.groupby(['student', 'problem'], group_keys=False)
dedup = grouped_sorted.tail(1)

In [48]:
dedup.head()

,id,student,problem,assignment,timestamp,answer
4586193,LeC33BnoDcQ7GPfXF,Joa9iwEvdYEAcxFx6,r8BehCZTtaYMzKKCS,RH6fWRGk5YmK5NWsP,1473033600,1
1010268,FMmCaxejQ32RdYiAC,cybMgweJfuwGF8xmP,a3aR2bAH6oPFPFMTk,84pmEsAihxhyy5PqA,1473033600,1
1010267,eoixDbNyDKhscTjq6,cybMgweJfuwGF8xmP,hxQpgG7ctXvpZojbj,84pmEsAihxhyy5PqA,1473033600,1
1010266,x4sMnyC3eTBovWXmQ,cybMgweJfuwGF8xmP,hiXM7eFngMjwJMxbN,84pmEsAihxhyy5PqA,1473033600,1
1010265,apBgA8Y57NMuEoXnr,cybMgweJfuwGF8xmP,3NPKgLQdnkEwERcKt,84pmEsAihxhyy5PqA,1473033600,1

In [50]:
len(dedup), len(solution)

(11064851, 11090636)

In [53]:
solution = dedup
solution['student'], students = pd.factorize(solution['student'])
solution['problem'], problems = pd.factorize(solution['problem'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
solution.head()

,id,student,problem,assignment,timestamp,answer
4586193,LeC33BnoDcQ7GPfXF,0,0,RH6fWRGk5YmK5NWsP,1473033600,1
1010268,FMmCaxejQ32RdYiAC,1,1,84pmEsAihxhyy5PqA,1473033600,1
1010267,eoixDbNyDKhscTjq6,1,2,84pmEsAihxhyy5PqA,1473033600,1
1010266,x4sMnyC3eTBovWXmQ,1,3,84pmEsAihxhyy5PqA,1473033600,1
1010265,apBgA8Y57NMuEoXnr,1,4,84pmEsAihxhyy5PqA,1473033600,1

In [55]:
solution.tail()

,id,student,problem,assignment,timestamp,answer
8546286,ysnGxqCSzucKtkAdW,591,59066,GrtFCcngsvQ24Gd3S,1571529600,-1
3239309,C4P9NiWuQ6H3WCza8,508,59067,PqEMgopofpof73PyF,1571529600,1
8546287,LbRN84TotYNq7LEZA,591,59065,GrtFCcngsvQ24Gd3S,1571529600,1
8062664,rjKpbEgd6HdMJhxXj,790,59066,u2pJeqEpYWdduD7KB,1571529600,1
8795405,zJSDr9EzYC7Drhgxt,564,59065,JybvFJefJ2xcCXP9k,1571529600,-1

In [57]:


print("Creating list of items for each user")
# Need to sort before popping to get last item
solution.sort_values(by='timestamp', inplace=True)

del solution['id']
del solution['assignment']

Creating list of items for each user

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [106]:
solution.to_csv('../kpoints/data/math_answer_sheet_before_split.csv', index=False)
pd.DataFrame(students, columns=['student']).to_csv('../kpoints/data/student_dictionary.csv', index=False)
pd.DataFrame(problems, columns=['problem']).to_csv('../kpoints/data/problem_dictionary.csv', index=False)

# split train/val/test

In [107]:
solution = pd.read_csv('../kpoints/data/math_answer_sheet_before_split.csv')
solution.sort_values(by='timestamp', inplace=True)

# 10% testing, 10% validation
# now we have filtered and sorted by time data, we can split test data out
def get10(x):
    return max(1, int(len(x)*0.1))

grouped_sorted = solution.groupby('student', group_keys=False)
test_data = grouped_sorted.apply(lambda x: x.iloc[-get10(x):]).sort_values(by=['student', 'problem'])
val_data = grouped_sorted.apply(lambda x: x.iloc[-2*get10(x):-get10(x)]).sort_values(by=['student', 'problem'])
train_data = grouped_sorted.apply(lambda x: x.iloc[:-2*get10(x)]).sort_values(by=['student', 'problem'])

In [108]:
len(test_data)

1101234

In [109]:
# sanity check, is there overlap, does problem in test/val appear in train?
len(test_data) + len(val_data) + len(train_data), len(solution)

(11064851, 11064851)

In [136]:
def filter_raw_problem(train_data, test_data, cnt):
    test_prob = pd.factorize(test_data['problem'])[1]
    test_prob = test_prob.to_frame(index=False).rename(columns={0: "test_problem"})
    train_test_overlap = train_data.merge(test_prob, left_on='problem', right_on='test_problem', how='outer',  suffixes=('_x', '_y'))
    joined = train_test_overlap[train_test_overlap.test_problem.notnull()]
    filtered = joined.groupby('test_problem').filter(lambda x: len(x) >= cnt)
    filtered_prob = pd.factorize(filtered['test_problem'])[1]
    filtered_prob = filtered_prob.to_frame(index=False).rename(columns={0: "test_problem"})
    print('left {} problems out {} '.format(len(filtered_prob), len(test_prob)))
    filtered_test_data = test_data.merge(filtered_prob, left_on='problem', right_on='test_problem', how='inner',  suffixes=('', '_y'))
    print('left {} out of {}'.format(len(filtered_test_data), len(test_data)))
    del filtered_test_data['test_problem']
    return filtered_test_data

In [139]:
test_data = filter_raw_problem(train_data, test_data, 5)
val_data = filter_raw_problem(train_data, val_data, 5)

left 32276 problems out 34635
left 968671 out of 1101234
left 37687 problems out 39900
left 1067370 out of 1101234

In [140]:
# let switch val and test
train_data.to_csv('../kpoints/data/math_train.csv', index=False)
val_data.to_csv('../kpoints/data/math_test.csv', index=False)
test_data.to_csv('../kpoints/data/math_val.csv', index=False)

In [143]:
len(val_data[val_data.answer == -1])

215631

In [144]:
val_data.max()

student           14350
problem           59064
timestamp    1571356800
answer                1
dtype: int64

In [162]:
fixed = (train_data.answer.values != 1).astype(np.float32)

In [163]:
np.sum(fixed == 0), np.sum(fixed == 1), fixed.shape

(6702235, 2160148, (8862383,))

In [152]:
train_data.head()

     student  problem   timestamp  answer
0          0        0  1473033600       1
625        0        1  1473033600       1
649        0        2  1473033600       1
621        0        3  1473033600       1
420        0        4  1473033600       1